NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_TABLE_ATHLETES=fantasy_athletes
NEXT_PUBLIC_SUPABASE_TABLE_EVENTS=fantasy_events
NEXT_PUBLIC_SUPABASE_TABLE_TEAMS=fantasy_teams
NEXT_PUBLIC_SUPABASE_TABLE_PICKS=fantasy_team_picks
NEXT_PUBLIC_SUPABASE_TABLE_LEADERBOARD=fantasy_leaderboard_view
